._*

.DS_Store
.classpath
.project
.settings/**
/output*/
/_output*/
/_output
.vscode
.idea
*~
\#*\#
.\#*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.envrc
/.*-dockerfile
/.*-container
/.*-push
